In [16]:
#Import Library
import datetime
import pandas as pd
#Baca Dataset
dataset = pd.read_csv('https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/retail_raw_reduced.csv')
dataset.head(20)

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1703458,2019-10-17,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10,740000
1,1706815,2019-10-24,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2,604000
2,1710718,2019-11-03,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8,1045000
3,1683592,2019-08-19,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4,205000
4,1702573,2019-10-16,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2,4475000
5,1672906,2019-07-16,12748,Jakarta Utara,DKI Jakarta,P0710,BRAND_C,4,520000
6,1711399,2019-11-04,16791,Jakarta Barat,DKI Jakarta,P0860,BRAND_C,1,1465000
7,1695367,2019-09-26,13069,Surakarta,Jawa Tengah,P3342,BRAND_S,2,205000
8,1741846,2019-12-30,16873,Jakarta Barat,DKI Jakarta,P3203,BRAND_S,32,450000
9,1720189,2019-11-24,14723,Tangerang,Banten,P1701,BRAND_H,2,149000
10,1683583,2019-08-19,13814,Denpasar,Bali,P2864,BRAND_R,6,1045000
11,1693309,2019-09-19,17841,Jakarta Utara,DKI Jakarta,P1798,BRAND_H,1,604000
12,1708381,2019-10-29,13895,Tangerang,Banten,P2074,BRAND_L,3,2200000
13,1705093,2019-10-21,16999,Jakarta Utara,DKI Jakarta,P2521,BRAND_P,4,1745000
14,1734790,2019-12-18,17422,Jakarta Selatan,DKI Jakarta,P0122,BRAND_A,12,695000
15,1678960,2019-08-05,14552,Tangerang,Banten,P3482,BRAND_S,1,904000
16,1668715,2019-07-04,13397,Surabaya,Jawa Timur,P1902,BRAND_J,10,740000
17,1714324,2019-11-11,14096,Surakarta,Jawa Tengah,P2022,BRAND_L,1,1748000
18,1669411,2019-07-07,15291,Jakarta Pusat,DKI Jakarta,P0931,BRAND_C,4,1395000
19,1731961,2019-12-13,13880,Bogor,Jawa Barat,P2853,BRAND_R,6,740000

In [3]:
dataset.tail(10)

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
4990,1678408,2019-08-02,15182,Jakarta Pusat,DKI Jakarta,P1903,BRAND_J,10,740000
4991,1736503,2019-12-20,18109,Tangerang,Banten,P2866,BRAND_R,3,1045000
4992,1734787,2019-12-18,18283,Jakarta Selatan,DKI Jakarta,P0734,BRAND_C,2,310000
4993,1678615,2019-08-04,16880,Bekasi,Jawa Barat,P2426,BRAND_P,3,310000
4994,1707424,2019-10-25,13021,Yogyakarta,Yogyakarta,P1913,BRAND_J,10,740000
4995,1724011,2019-12-01,12838,Tangerang,Banten,P3047,BRAND_R,2,450000
4996,1676302,2019-07-28,13833,Bogor,Jawa Barat,P0760,BRAND_C,3,1465000
4997,1706071,2019-10-23,16332,Jakarta Timur,DKI Jakarta,P1681,BRAND_H,4,747000
4998,1703620,2019-10-17,13055,Jakarta Barat,DKI Jakarta,P0757,BRAND_C,8,695000
4999,1720036,2019-11-24,17609,Jakarta Pusat,DKI Jakarta,P3334,BRAND_S,1,1045000